<div style="background-color:#EFF8FF; border: 1px dotted #ccc; font-size: 12px; padding:5px; margin-top:3x; margin-bottom:10px; color: #999;">
  <%=tr("This application has {count||total user}.", "Dashboard section header", :count => 100)%>
</div>

<div style="font-size:14px; border-bottom:1px solid #ccc; margin-bottom:5px;">
  <div style="float:right">
    <%=platform_app_rank_tag(app)%>
  </div>
	
  <%=platform_toggler_tag("stats_content_#{app.id}", "", true)%>
	<%=tr("Application Statistics", "Dashboard section header") %>
</div>

<div id="stats_content_<%=app.id%>" style="">
	<table style="width:100%">
	  <tr>
      <td style="width:50%; padding-top:3px; padding-right:3px; padding-bottom:10px;">
          <%=render :partial => "daily_active_users_metric", :locals => {:app => app} %>
      </td>      	  	
	    <td style="width:50%;padding-top:3px; padding-bottom:10px;">
          <%=render :partial => "daily_new_users_metric", :locals => {:app => app} %>
	    </td>        
	  </tr>
	</table>  
</div>

