<div style="text-align:center; padding:20px;">
   <%=image_tag("platform/platform5.png", :style => "height:100px;")%>
</div>

<h2 class="underscore content_hd">
  <%=tr('Welcome to Platform Engine') %>
</h2>

<div class="content_bd">
  <h3><%=tr("If you are trying out Platform functionality, here are some helpful links to get started:")%></h3>
  <ul style="list-style-type:decimal; margin-left:30px; font-size:14px;">
    <li><%= link_to(tr("Register for a developer account"), "/platform/login/register")%></li>
    <li><%= link_to(tr("Create a new application"), "/platform/developer/apps")%></li>
    <li><%= link_to(tr("Explore existing applications"), "/platform/apps")%></li>
    <li><%= link_to(tr("View help"), "/platform/developer/help")%></li>
  </ul>
</div>
