<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
			<title><%=trl("Platform Sample Application", "Application title")%></title>
			<%= stylesheet_link_tag    "application" %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tag %>
			<%= tr8n_scripts_tag %>
			<style>
				.page_fixed {
					width:100%;
				}
			</style>
		</head>
    <body>
        <div class="document">
						<div class="page_head">
							  <div class="page_fixed">
							    <div class="mrgn_h">
							      <h1 class="logo">
											<%=tr("Sample Application")%>
										</h1>
							    </div>
							  </div>
							</div>

							<div class="page_fixed">
							  <%= tr8n_flashes_tag %>
							</div>
							<div class="page_fixed">
                <div class="page_body" style="margin-top:30px;">
                   <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
