<%= render :partial => "/platform/common/header" %>

<center>
  <div style="width:700px; border:1px dotted #ccc; margin-bottom:30px; background-color:white; border-radius:10px; font-size:12px; font-family:Arial;margin-top:15px">
    <div style="background:url('/assets/platform/oauth/perm_tile.gif'); height:15px;">&nbsp;</div>
    
		<div style="margin:20px; text-align:left;">
			<div style="border-bottom:1px solid #ccc; font-size:20px; font-weight:bold;">
				<%=tr("Authorization Request")%>
			</div>
			
			<div style="margin-top:10px;margin-bottom:10px;">
		    <%=tr("{application} is requesting permission to access your {site}'s account.", "API permission", {:site=>Platform::Config.site_title, :application => link_to(@client_application.name, {:controller => '/platform/apps', :action => :view, :id => @client_application.id}, {:target => "_top"})}) %>
      </div>
			
      <div style="padding:10px;">
				<table style="width:100%">
					<tr>
						<td style="vertical-align:top">
							<table>
								<tr>
									<td style="vertical-align:top">
							       <%=image_tag(Platform::Config.user_mugshot(Platform::Config.current_user), :style => "padding-right:15px;")%>			
									</td>
									<td>
			              <div style="font-weight:bold;"><%=tr("Access to my profile information")%></div>
			              <div style="margin-top:10px; color:#666; padding-right:15px; ">
			                 <%=tr("Includes name, profile picture, gender, photos and any information available on my profile or through my user account.")%>
			              </div>
									</td>
								</tr>
							</table>
						</td>
						<td style="vertical-align:middle">
							<%=image_tag("platform/oauth/right_grey.png")%>
						</td>	
						<td style="width:30%">
	             <div style="height:130px; padding:5px; margin:3px; text-align:center;">
	                <div style="">
	                   <%= image_tag(@client_application.logo_url, :style => "width:75px;height:75px;") %>
	                </div> 
	                <div style="font-size:12px; padding-top:10px;">
	                  <%= link_to(h(@client_application.name), {:controller => '/platform/apps', :action => :view, :id => @client_application.id}, {:target => "_top"}) %><br>
	                </div>
	                <div style="font-size:11px; padding-top:10px;">
	                 <%= platform_app_rank_tag(@client_application) %>
	                </div>
	             </div>
						</td>
					</tr>
				</table>
      </div>
			  
      <div style="margin-top:10px; color: #888;">
        <%=tr("By proceeding, you agree to the {application} [link1: Terms of Service] and [link2: Privacy Policy].", "", :application => @client_application.name, :link1 => {:href => @client_application.terms_of_service_url, :target => "_top"}, :link2 => {:href=>@client_application.privacy_policy_url, :target => "_top"})%>
			</div>
		</div>
		
		<div style="background:#eee; text-align:right; padding:10px; vertical-align:middle; ">
			<div style="float:left; padding-top:10px;">
			  	<%=link_to(tr("Not {user}?", "", :user => Platform::Config.user_name),  Platform::Config.logout_url(:display => params[:display], :client_id => @client_application.id), :target => "_top")%>
			</div>	
      <button class="platform_btn platform_submit_btn" onClick="Platform.element('authorize').value = 1; Platform.element('auth_form').submit()">
          <span><%=tr("Allow")%></span>
      </button>
      <button class="platform_btn platform_submit_btn" onClick="Platform.element('authorize').value = 0; Platform.element('auth_form').submit()">
          <span><%=tr("Don't Allow")%></span>
      </button>
		</div>	
  </div>
</center>

<%= render :partial => "authorize_form" %>
<%= render :partial => "/platform/common/footer" %>
