<%= render :partial => "layouts/html_head", :locals => {:new_styles => true} %>
<body>
  <div class="page_hd hd pvm phl">
    <div style="float:right;padding-top:5px;font-weight:bold;">
      <%=link_to(tr("Not {user}?", "", :user => [Platform::Config.current_user, :name]), :controller => "/login", :action => :out, :display => params[:display], :client_id => @client_application.id)%>
    </div>
    <div href="/" class="i logo"></div>
  </div>
  <div class="page_bd bd">

	<div class="mhm mvl">
    
		<div class="module mbl">
			<h3 class="mbs"><%=trl("[bold: {application}] would like permission to access your Geni account.","", :application => @client_application.name)%></h3>
			<p class="quiet">
				<%= trl("Only allow access if you trust this application with your Geni Information.") %>
			</p>
		</div>
		
		<div class="module pal mbl">
			<div class="line">
				<div class="unit size_3of5">
					<div class="media mrl">
						<%=image_tag(Platform::Config.user_mugshot(Platform::Config.current_user), :class => "img")%>
						<div class="bd">
							<h4><%= trl("This application will have access to:") %></h4>
							<p class="quiet mbl">
								<%=trl("Your name, profile picture, gender, family, photos and any other information available through my user account.")%>
							</p>
							<div>
							 <button class="blue super large button" onClick="$('authorize').value = 1; $('auth_form').submit()">
									<%=trl('Authorize', 'Client application action label')%>
							 </button>
							 <button class="white super large button"  onClick="$('authorize').value = 0; $('auth_form').submit()"">
									<%=trl("Cancel", 'Client application action label')%>
							 </button>
							</div>
						</div>
					</div>
				</div>
				<div class="unit size_2of5 last_unit">
					<div class="mll pll" style="border-left:solid 1px #ddd">
						<div class="mbm">
							<%= image_tag(@client_application.logo_url) %>
						</div>
						<div class="mbs">
	          <%= link_to(h(@client_application.name), {:action => :view, :id => @client_application.id}, :target => "_blank") %><br>
	          </div>
	          <div>
						 <%= platform_app_rank_tag(@client_application, 95) %>
						</div>				
					</div>
				</div>
			</div>
		</div>
			
		<div class="module small quiet prose">
			<%=tr("By proceeding, you agree to the {application} [link1: Terms of Service] and [link2: Privacy Policy].", "", :application => @client_application.name, :link1 => [@client_application.terms_of_service_url], :link2 => [@client_application.privacy_policy_url])%>
		</div>
            
	</div>

</div>
<%= render :partial => "authorize_form" %>



<script>
  function $(element_id) {
    if (typeof element_id == 'string') return document.getElementById(element_id);
    return element_id;
  }
	
</script>  

  </div>
</body>
</html>
