<%= render :partial => "/platform/developer/common/header" %>

<!-- div class="section_box" style="margin-bottom:10px; background-color:#EFF8FF; margin-top:0px;">
  <% form_tag({:action => :index}, {:method => :get, :id => "translations_search_form"}) do %>
      <div style="float:right">
        <button type="submit" class="translator_btn translator_small_btn" onClick="Tr8n.Effects.submit('translations_search_form'); return false;">
            <span><%=tr("Search", "Search button label")%></span>
        </button>
      </div>
      
      <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px"})%><br>
  <% end %>
</div -->
  
		
<% unless @topics.empty? %>
<div class="section_title">
  <div style="float:right; padding-top:6px; font-size:12px; color: #ccc;">
    <%= link_to(tr("+ Start a new discussion topic"), :action => :topic, :mode => :create) %>
  </div>
  
  <%=tr("Discussion Topics", nil) %>  
</div>
<div class="section_box">
    <table style="width:100%;">
       <tr style="border-bottom: 1px solid #ccc;">
         <td class="topic_header" style="width:20%; padding:5px;"><%=tr("Author", "Forum column header")%></td>
         <td class="topic_header" style="width:50%; padding:5px;"><%=tr("Topic", "Forum column header")%></td>
         <td class="topic_header" style="width:10%; padding:5px;"><%=tr("Posts", "Forum column header")%></td>
         <td class="topic_header" style="width:20%; padding:5px;"><%=tr("Last Post", "Forum column header")%></td>
       </tr> 
      <% @topics.each do |topic| %>
        <%
          style = (topic == @topics.last ? "" : "border-bottom:1px dotted #ccc;" )
        %>  
        <tr style="<%=style%>">
          <td class="topic_value">
            <table>
              <tr>
                <td style="vertical-align:top;padding:5px;">
                  <%=platform_user_mugshot_tag(topic.user, :linked => true)%>
                </td>
                <td style="vertical-align:top;padding:5px;">
                  <%=platform_user_tag(topic.user, :linked => true)%>
                  <div style="color:grey;">
                      <%=topic.created_at.trl(:date_time) %>
                  </div>
                  <div style="font-size:10px;padding:5px;">
                    <% if topic.user == platform_current_user %>  
                        <%=link_to(tr("Delete"), {:action => :delete_topic, :topic_id => topic.id}, 
                          {:confirm => trl("Are you sure you want to delete this topic and all of the messages under it?")})%>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td class="topic_value" style="padding:5px;">
            <%=link_to(topic.topic, :action => :topic, :topic_id => topic.id)%><br>
          </td>    
          <td class="topic_value" style="padding:5px;">
            <%=topic.post_count %>
          </td>
          <td class="topic_value" style="padding:5px;">
            <% if topic.last_post %>
               <div style="font-size:10px;"><%=topic.last_post.created_at.trl(:date_time) %> 
							  <% if topic.user %>
                  <%=tr("by {user}", "Name of the publisher", :user => [topic.user, platform_user_tag(topic.user, :linked => true)])%>
								<% end %>
               </div> 
               <% 
                  message = topic.last_post.message[0..60]
                  message << "..." if topic.last_post.message.length > 60 
               %> 
               <div style="font-style:italic; font-size:10px">"<%=link_to(h(message), :action => :topic, :topic_id =>topic.id, :last_page => true)%>"</div>
            <% end %>
            &nbsp;
          </td>
        </tr>
      <% end %>
    </table>
  
    <div style="margin-bottom:5px; padding-top:5px; border-top: 1px solid #ccc;">
      <table style="width:100%;">
        <tr>
          <td align='left'><%= page_entries_info(@topics, :entry_name => "forum topic", :skip_decorations => true) %></td>
          <td align='right'><%= will_paginate(@topics, :skip_decorations => true, :style => "text-align:right;") %></td>
        </tr>
      </table>
    </div>
</div>
<% end %>

<%= render :partial => "new_topic", :locals => {:include_cancel_button => false} %>

<%= render :partial => "/platform/developer/common/footer" %>
