<% @page_title = controller.action_name.titleize.gsub("_"," ") %>

<style>
.documentation_sidebar {
  font: 11px Arial,Helvetica,sans-serif;
}

.navigation_header {
  font: 12px Arial,Helvetica,sans-serif;
  font-weight: bold;
  padding-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
	color: #888888 !important;
}

.section_link {
	padding:3px;
}

.section_link a {
	text-decoration:none;
}
	
.section_link a:hover {
  text-decoration:none;
}

.section_link:hover {
	background: #eee;
}

.section_link.selected {
  background: #4096EE;
	color:white;
}

.section_link.selected a {
  color:white;
}
</style>

<% form_tag({}, :id => "version_form", :method => :get) do %>
<%=hidden_field_tag(:path, params[:path])%>
<div class="documentation_sidebar">
	<div class="navigation_header"><%=tr("Introduction")%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'index' %>"><%=link_to(tr("Welcome"), :action => :index, :version => @version)%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'terms' %>"><%=link_to(tr("Terms of Use"), :action => :terms, :version => @version)%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'branding' %>"><%=link_to(tr("Branding Guidelines"), :action => :branding, :version => @version)%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'rate_limits' %>"><%=link_to(tr("Rate Limits"), :action => :rate_limits, :version => @version)%></div>

  <div class="navigation_header"><%=tr("Authentication")%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'oauth_intro' %>"><%=link_to(tr("Introduction"), :action => :oauth_intro, :version => @version)%></div>
  <!-- div class="section_link <%="selected" if @controller.action_name == 'permissions' %>"><%=link_to(tr("Permissions"), :action => :permissions, :version => @version)%></div -->
  <div class="section_link <%="selected" if @controller.action_name == 'oauth_server_side' %>"><%=link_to(tr("Server Side Flow"), :action => :oauth_server_side, :version => @version)%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'oauth_client_side' %>"><%=link_to(tr("Client Side Flow"), :action => :oauth_client_side, :version => @version)%></div>
  <div style="padding-left:15px;" class="section_link <%="selected" if @controller.action_name == 'oauth_desktop' %>"><%=link_to(tr("Desktop Apps"), :action => :oauth_desktop, :version => @version)%></div>
  <div style="padding-left:15px;" class="section_link <%="selected" if @controller.action_name == 'oauth_mobile' %>"><%=link_to(tr("Mobile Apps"), :action => :oauth_mobile, :version => @version)%></div>
  <div style="padding-left:15px;" class="section_link <%="selected" if @controller.action_name == 'oauth_trusted_client' %>"><%=link_to(tr("Trusted Apps"), :action => :oauth_trusted_client, :version => @version)%></div>
  <div style="padding-left:15px;" class="section_link <%="selected" if @controller.action_name == 'oauth_app_login' %>"><%=link_to(tr("App Login"), :action => :oauth_app_login, :version => @version)%></div>

  <div class="section_link <%="selected" if @controller.action_name == 'oauth_extensions' %>"><%=link_to(tr("{site_title} Applications", "", :site_title => Platform::Config.site_title), :action => :oauth_extensions, :version => @version)%></div>
  
  <div class="navigation_header"><%=tr("SDKs & Tools")%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'sdk_js' %>"><%=link_to(tr("JavaScript SDK"), :action => :sdk_js, :version => @version)%></div>
  <div class="section_link <%="selected" if @controller.action_name == 'sdk_ios' %>"><%=link_to(tr("iOS SDK"), :action => :sdk_ios, :version => @version)%></div>

  <div class="navigation_header" style="white-space:nowrap;"><%=tr("API Reference")%> &nbsp; 
	 <span style="font-size:8px;">v</span> <%=select_tag("version", options_for_select(Platform::Config.api_supported_versions, @version), :style=>"height:15px;padding:0px;font-size:10px;", :onChange=>"Platform.element('version_form').submit();")%>
	</div>

	<div style="margin-bottom:5px;" class="section_link <%="selected" if @controller.action_name == 'reference' %>"><%=link_to(tr("Introduction"), :action => :reference, :version => @version)%></div>
	
	<% ref = Platform::Config.api_reference(@version) %>
	<% @api ||= {} %>
  <% path_parts = (@api[:path] || "").split("/") %> 
	
	<% ref.keys.sort.each do |api_key| %>
	  <% api = ref[api_key] %>
	  <% next if api[:type]=='struct' %>
    <div class="section_link <%="selected" if @api[:path]==api[:path] %>" style="vertical-align:middle;">
    	 <% expanded = (path_parts.first == api[:path]) %>	
    	<%=platform_toggler_tag("#{api_key}_api_actions", "", expanded, {:style => "text-align:center; vertical-align:top; width:10px;"})%>
			<%=link_to(api_key.titleize, {:action => :api, :path => api[:path], :version => @version})%>
			<%=platform_documentation_api_decorators_tag(api) %>
		</div>
		<% if api[:actions] %>
		 <div id="<%=api_key%>_api_actions" style="margin-bottom:5px;<%='display:none' unless expanded%>"> 
		 <% api[:actions].keys.sort.each do |api_action_key| %>
		    <% api_action = api[:actions][api_action_key] %>
		    <div style="padding-left:25px;" class="section_link <%="selected" if @api[:path]==api_action[:path] %>">
				    <%=link_to(api_action_key, {:action => :api, :path => api_action[:path], :version => @version})%>
						<%=platform_documentation_api_decorators_tag(api_action) %>
				</div>
		 <% end %>
		 </div>
		<% end %>
		
	<% end %>
</div>
<% end %>
