<% @page_title = controller.action_name.titleize.gsub("_"," ") %>


<style>

  h1.tr8n             { font-size:18px;border-bottom:1px solid #ccc;margin-bottom:10px; }
  h2.tr8n             { margin-bottom: 10px; }
  h3.tr8n             { margin-bottom: 10px; }

  p                   { margin-bottom: 20px; }
  
  #tr8n_help_title    { margin-bottom:20px; }
  
  #tr8n_sidebar       { margin-top:20px;margin-right:40px;width:200px;font-size:12px;float:left;border:dotted 1px #ccc;background-color:#f1f4f9;padding:8px; }
  
  #tr8n_sidebar li    { margin:0.5em; padding-left:0px;}
	ol                  { margin:0.5em; padding-left:0px;}
  ol.tr8n_primary     { maring-left:0px; padding-left:10px;list-style-type:upper-roman; }
  ol.tr8n_secondary   { maring-left:0px; padding-left:10px;list-style-type:decimal; }
  ol.tr8n_tertiary    { maring-left:0px; padding-left:10px;list-style-type:lower-alpha; }
  ol.tr8n_quaternary  { maring-left:0px; padding-left:10px;list-style-type:decimal; }
  ol.tr8n_quinternary { maring-left:0px; padding-left:10px;list-style-type:lower-roman; }
  
  #tr8n_help_content      { float:left;margin-top:30px;width:600px;font-size:12px; }
  
  #tr8n_help_content h1   { margin-bottom:0.75em; }
  #tr8n_help_content ul   { margin:2em;padding-left:15;list-style-type:disc; }
  
  a.tr8n_selected      { color:Black !important;font-weight:bold; }

</style>

<%# Note: Section titles must be unique. %>

  <div id="tr8n_sidebar">
    <ol class="tr8n_primary">
      <li><%= tr8n_help_link("Introduction", { :filename => "index" }) %></li>
          <ol class="tr8n_secondary">
            <li><%= tr8n_help_link("Registering New Application") %>
                <ol class="tr8n_tertiary">
                  <li><%= tr8n_help_link("Basic Information") %></li>
                  <li><%= tr8n_help_link("Geni Integration") %></li>
                  <li><%= tr8n_help_link("Mobile Applications") %></li>
                </ol>
            </li>
            <li><%= tr8n_help_link("Authentication") %>
                <ol class="tr8n_tertiary">
                  <li><%= tr8n_help_link("Web Site Authentication") %></li>
                  <li><%= tr8n_help_link("Embedded Applications") %></li>
                  <li><%= tr8n_help_link("Mobile Applications") %></li>
                </ol>
            </li>
          </ol>
      </li>
    </ol>
  </div>