<%= render :partial => "header" %>
<div class="documentation_section_title">
    <%= tr("Desktop Application Authorization Flow") %>
</div>
<div class="documentation_section">
    <p>
    	  <%=tr("Desktop application flow is a slightly modified version of the client-side flow.")%>
        <%=tr("Since desktop applications do not normally run their own web servers, we cannot redirect back to the desktop app URL. Instead, we will redirect to an internal url with the returned fields.")%> 
        <%=tr("Desktop applications can listen to the browser URL changes.") %> <%=tr("Once a URL is matched against a special Platform URL, desktop application can get the access token and other parameters from the URL.")%>  
    </p>
    <h2><%=tr("Authentication & Authorization")%></h2>
    <p>
    	<%=tr("To enter the authentication/authorization desktop client flow, you must point an embedded browser to the authorization url and pass the following parameters:")%> 
    </p>
    <h3><%=tr("Oauth URL")%></h3>
    <div class="code_snippet">
        https://<%=Platform::Config.site_base_url %>/platform/oauth/authorize
    </div>
    <h3><%=tr("Parameters")%></h3>
    <p>
        <table class="documentation_table">
            <tr>
                <th style="width:150px;">
                    <%=tr("Name") %>
                </th>
                <th>
                    <%=tr("Description") %>
                </th>
                <th style="width:150px;">
                    <%=tr("Required") %>
                </th>
            </tr>
            <tr>
                <td>
                    client_id
                </td>
                <td>
                    <%=tr("Application key generated during the app registration.")%>
                </td>
                <td>
                    true
                </td>
            </tr>
            <tr>
                <td>
                    response_type
                </td>
                <td>
                    <%=tr("For the client side flow the response type must be set to \"token\".")%>
                </td>
                <td>
                    true
                </td>
            </tr>
            <tr>
                <td>
                    display
                </td>
                <td>
                    <%=tr("For a desktop application embedded browser, set the display value to \"desktop\".")%>
                </td>
                <td>
                    true
                </td>
            </tr>
            <tr>
                <td>
                    scope
                </td>
                <td>
                    <%=tr("A comma delimited list of permissions that the application needs.") %>
                    <%=tr("By default the scope is set to a full data access.") %>
                    <%=tr("This is subject to change in the upcoming releases.") %>
                </td>
                <td>
                    false
                </td>
            </tr>
        </table>
    </p>
    <h3><%=tr("Example")%></h3>
    <div class="code_snippet">
        https://<%=Platform::Config.site_base_url %>/platform/oauth/authorize?client_id=YOUR_APP_KEY&response_type=token&display=desktop
    </div>
    <p>
        <%=tr("If the user is already logged in, we validate the login cookie that we have stored on the user's browser and authenticate the user.") %><%=tr("If the user is not logged in, they are prompted to enter their credentials:") %>
    </p>
    <center>
        <%=image_tag("/platform/images/help/login_desktop.png", :style=>"width:600px;", :class => "screenshot") %>
    </center>
    <p>
        <%=tr("Once we have successfully authenticated the user, we will prompt the user to authorize your application:") %>
    </p>
    <center>
        <%=image_tag("/platform/images/help/auth_desktop.png", :style=>"width:600px;", :class => "screenshot") %>
    </center>
    <p>
        <%=tr("If the user presses Don't Allow, your app is not authorized.") %>
				<%=tr("The user will be redirected (via HTTP 302) to the special URL with the following error information:") %>
    </p>
    <h3><%=tr("Returned Fields") %></h3>
    <p>
        <table class="documentation_table">
            <tr>
                <th style="width:150px;">
                    <%=tr("Name") %>
                </th>
                <th style="width:150px;">
                    <%=tr("Type") %>
                </th>
                <th>
                    <%=tr("Description") %>
                </th>
            </tr>
            <tr>
                <td style="widtd:150px;">
                    status
                </td>
                <td style="widtd:150px;">
                    String
                </td>
                <td>
                    <%=tr("If user cancels the authorization flow, the status will be set to \"unauthorized\".") %>
                </td>
            </tr>
            <tr>
                <td style="widtd:150px;">
                    message
                </td>
                <td style="widtd:150px;">
                    String
                </td>
                <td>
                    <%=tr("Error message") %>
                </td>
            </tr>
        </table>
    </p>
    <h3><%=tr("Example") %></h3>
    <div class="code_snippet">
        https://<%=Platform::Config.site_base_url %>/platform/oauth/auth_failed#status=unauthorized&message=user+canceled
    </div>
    <p>
        <%=tr("If the user presses Allow, your app is authorized.") %>
        <%=tr("The user will be redirected (via HTTP 302) to the special URL with an authorization code:") %>
    </p>
    <h3><%=tr("Returned Fields") %></h3>
    <p>
        <table class="documentation_table">
            <tr>
                <th style="width:150px;">
                    <%=tr("Name") %>
                </th>
                <th style="width:150px;">
                    <%=tr("Type") %>
                </th>
                <th>
                    <%=tr("Description") %>
                </th>
            </tr>
            <tr>
                <td style="widtd:150px;">
                    access_token
                </td>
                <td style="widtd:150px;">
                    String
                </td>
                <td>
                    <%=tr("Access token to be used with every API request")%> 
                </td>
            </tr>
            <tr>
                <td style="widtd:150px;">
                    expires_in
                </td>
                <td style="widtd:150px;">
                    Number
                </td>
                <td>
                    <%=tr("Seconds until the token will expire") %>
                </td>
            </tr>
        </table>
    </p>
    <h3><%=tr("Example")%></h3>
    <div class="code_snippet">
        https://<%=Platform::Config.site_base_url %>/platform/oauth/auth_success#access_token=ACCESS_TOKEN_GENERATED_BY_SERVER
&expires_in=SECONDS_UNTIL_IT_IS_EXPIRED
    </div>
</div>
<%= render :partial => "footer" %>
