<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Desktop Application Authorization Flow") %>
</div>

<div class="documentation_section">
  <p>
    Desktop application flow is a slightly modified version of the Client Side flow. 
		Since desktop applications, normally, do not run their own web servers, we cannot redirect back to the desktop apps. 
		Instead, we will redirect to an internal url with the returned fields. Desktop application will then listen to the browser url changes, 
		and once the url is matched, it can get the access token and other parameters.   
  </p>
  
  <h2>Authentication & Authorization</h2>
  <p> 
    To enter the authentication/authorization desktop client flow, you must poin an embedded browser to the authorization url and pass the following parameters:
		(Notice that the display parameter is set to "desktop")
  </p>

  <h3>Oauth URL</h3>
  <div class="code_snippet">
    https://www.geni.com/oauth/authorize
  </div>

  <h3>Parameters</h3>
	<p>
  <table class="documentation_table">
     <tr>
      <th style="width:150px;"><%=tr("Param Name") %></th>
      <th><%=tr("Description") %></th>
      <th style="width:150px;"><%=tr("Required") %></th>
     </tr>
     <tr>
      <td>client_id</td>
      <td>Application key generated during the app registration.</td>
      <td>true</td>
     </tr>
     <tr>
      <td>response_type</td>
      <td>For the client side flow the response type must be set to "token".</td>
      <td>true</td>
     </tr>
     <tr>
      <td>display</td>
      <td>For a desktop application embedded browser, set the display value to "desktop"</td>
      <td>true</td>
     </tr>
     <tr>
      <td>scope</td>
      <td>A comma delimited list of permissions that the application needs. By default the scope is to set to a full permission set. This is subject to change in the upcoming releases.</td>
      <td>false</td>
     </tr>
  </table>
  </p>
	
  <h3>Example</h3>
  <div class="code_snippet">
    https://www.geni.com/oauth/authorize?client_id=YOUR_APP_KEY&response_type=token&display=desktop
  </div>

  <p>
    If the user is already logged in, we validate the login cookie that we have stored on the user's browser, authenticating the user. If the user is not logged in, they are prompted to enter their credentials:
  </p>  
  
  <center>
  <%=image_tag("/platform/images/help/login.png", :style=>"width:600px;")%>
  </center>
  
  <p>
    Once we have successfully authenticated the user, we will prompt the user to authorize your application:
  </p>
  
  <center>
  <%=image_tag("/platform/images/help/authorize.png", :style=>"width:600px;")%>
  </center>
  
  <p>
    If the user presses Don't Allow, your app is not authorized. The user will be redirected (via HTTP 302) to the URL you passed in the redirect_uri with the following error information as a URI fragment:
  </p>

  <h3><%=tr("Returned Fields") %></h3>
  <p>
  <table class="documentation_table">
     <tr>
      <th style="width:150px;"><%=tr("Name") %></th>
      <th style="width:150px;"><%=tr("Type") %></th>
      <th><%=tr("Description") %></th>
     </tr>
     <tr>
      <td style="widtd:150px;">status</td>
      <td style="widtd:150px;">String</td>
      <td>If user cancels tde autdorization flow, tde status will be set to "unauthorized"</td>
     </tr>
     <tr>
      <td style="widtd:150px;">message</td>
      <td style="widtd:150px;">String</td>
      <td>Error message</td>
     </tr>
  </table>
  </p>

  <h3>Example</h3>
  <div class="code_snippet">
    http://www.geni.com/oauth/auth_failed#status=unauthorized&message=user+canceled
  </div>
    
  <p> 
    If the user presses Allow, your app is authorized. The user will be redirected (via HTTP 302) to the URL you passed in the redirect_uri with an access token as a URI fragment:
  </p>

  <h3><%=tr("Returned Fields") %></h3>
  <p>
  <table class="documentation_table">
     <tr>
      <th style="width:150px;"><%=tr("Name") %></th>
      <th style="width:150px;"><%=tr("Type") %></th>
      <th><%=tr("Description") %></th>
     </tr>
     <tr>
      <td style="widtd:150px;">access_token</td>
      <td style="widtd:150px;">String</td>
      <td>Access token to be used with every request to Geni API. It must be passed as a parameter:
         https://www.geni.com/api/profile?access_token=ACCESS_TOKEN
      </td>
     </tr>
     <tr>
      <td style="widtd:150px;">expires_in</td>
      <td style="widtd:150px;">Number</td>
      <td>Seconds until the token will expire</td>
     </tr>
  </table>     
  </p>      

  <h3>Example</h3>
  <div class="code_snippet">
    http://www.geni.com/oauth/auth_success#access_token=ACCESS_TOKEN_GENERATED_BY_SERVER&expires_in=SECONDS_UNTIL_IT_IS_EXPIRED
  </div>
	
</div>

<%= render :partial => "footer" %>
