<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Using the API Reference") %>
</div>

<div class="documentation_section">
  <p>
  	
  </p>
  <h2><%=tr("API Versions")%></h2>
  <p>
    <%=tr("API Version changes only when the API is no longer backwards compatible with the previous version.")%> <%=tr("Such API changes include changes to the results structure or modifications to the API path.")%> 
    <%=tr("Adding new API will not change the API version.")%>
  </p>
	
	<h2><%=tr("API Legend")%></h2>
	<table class="documentation_table">
		<tr>
			<th style="width:20px;"><%=tr("Icon")%></th>
			<th><%=tr("Description")%></th>
		</tr>
		<tr>
			<td><%=image_tag("platform/exclamation.png")%></td>
			<td><%=tr("Indicates that the API has been changed or a field has been deprecated")%></td>
		</tr>
    <tr>
      <td><%=image_tag("platform/add.png")%></td>
      <td><%=tr("Indicates that the API has been added or a field has been added")%></td>
    </tr>
    <tr>
      <td><%=image_tag("platform/accept.png")%></td>
      <td><%=tr("Indicates that the API has been changed or a field has been changed")%></td>
    </tr>
	</table>
	<p>
		
	</p>
	
</div>

<%= render :partial => "footer" %>
