<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("#{Platform::Config.site_title}'s iOS SDK") %>
</div>

<div class="documentation_section">
  <p>
    The <%=Platform::Config.site_title %> iOS SDK is a full featured iOS library allowing developers to build iOS applications with <%=Platform::Config.site_title %>'s data. 
    It enables full access to all of <%=Tr8n::Config.site_title %>'s API methods on the client-side and provides robust functionality for working with Oauth 2.0 authentication. 
  </p>


  <h2>Installing iOS SDK</h2>
	<p>
		You can install the SDK from the following URL:
	</p>
	
	<div class="code_snippet">
		<%=link_to("https://github.com/berk/platform_ios_clientsdk", "https://github.com/berk/platform_ios_clientsdk")%>
	</div>	
	
	<p>
		Follow the documentation on the SDK site to get the SDK integrated into your application.
	</p>
	
	
</div>

<%= render :partial => "footer" %>
	