<%= render :partial => "/platform/developer/common/header" %>

<div class="section_title">
   <%= tr('Register New Application', 'Client application section title') %> 
</div>

<div class="app_fields">
	<%= form_for(@app, :as => :application, :url => {:action => :create}, :html => {:method => :post, :multipart=>true}) do |form| %>
	  <%= render :partial=>'form', :locals=>{:form=>form} %>
		
		<div style="text-align:center; padding:15px;">
      <button type="submit" class="platform_btn platform_submit_btn">
          <span><%=tr('Register Application')%></span>
      </button>
			<%=tr("or")%> <%=link_to(tr("Cancel"), :action => :index)%>
		</div>
	<% end %>
</div>

<%= render :partial => "/platform/developer/common/footer" %>
