<% if apps.any? %>
<% 
  block_width = "#{100/per_row}%"
  block_height ||= "130px;"
%> 
  <div style="padding-bottom:20px;">
    <div class="apps_header">
      <span style="float:right; font-size:12px; font-weight:normal">
        <%=render(:partial => "paginator", :locals => {:apps => apps, :element_id => "suggested_apps"})%> 
      </span>
      <%=tr(Platform::Config.suggested_apps_title)%>
    </div>
    <div class="apps_body">
      <table style="width:100%;">
        <tr>
          <% apps.each_with_index do |app, index| %>
            <td style="width:<%=block_width%>;text-align:center">
             <div style="height:<%=block_height%>; border: 1px dotted #ccc; padding:5px; margin:3px;">
                <div style="font-size:12px; padding-bottom:10px;">
                  <%= link_to(h(app.short_name), {:action => :view, :id => app.id}) %><br>
                </div>
                <div style="">
                   <%= link_to(image_tag(app.logo_url), {:action => :view, :id => app.id}) %>
                </div> 
                <div style="font-size:11px; padding-top:5px;">
                 <%= platform_app_rank_tag(app) %>
                </div>
             </div>
             </td> 
             <% if (index+1) % per_row == 0 %>
               </tr><tr>
             <% end %>
          <% end %>
					<% 0.upto(per_row - (apps.size % per_row)-1).each do  %>
					   <td style="width:<%=block_width%>;">&nbsp;</td>
					<% end %>
        </tr>
      </table>
    </div>  
  </div>      
<% end %> 
					