<%= render :partial => "/platform/common/header" %>

<div class="module page_title lengthy">
  <div class="inner">
    <div style="font-size:40px;border-bottom:1px solid #ccc;">
      <span style="float:right;">
        <button class="platform_btn platform_submit_btn" onClick="location = '<%= @app.app_url %>';">
            <span><%=tr("Launch Application")%></span>
        </button>
      </span>
      
      <%= @app.name %>
    </div>
  </div>
</div>


<div class="module page_title lengthy" style="margin-top:15px;">
  <div class="inner">
    <table style="width:100%">
      <tr>
        <td style="width:200px;vertical-align:top;padding-right:10px;">
          <%= render(:partial => "/platform/apps/left", :locals => {:app => @app} )%>   
        </td>
        <td>