<div style="text-align:left; border:1px dotted #ccc; padding:10px; margin-top:5px;">
  <div style="color:#888; padding-bottom:8px; font-size:12px; font-weight:bold;">
	   <%=tr("Review Summary")%>
	</div>
	
	<% if app.rating_count == 0 %>
    <div style="color:#666; font-size:11px;">
      <%=tr("No reviews yet")%>
    </div>
	<% else %>
		<div style="color:#666; padding-bottom:8px; font-size:12px;">
	    <%= platform_app_rank_tag(app) %> <%=tr("({rank} out of 5)", "", :rank => app.rank)%>
		</div>
	  <div style="color:#666; font-size:11px;">
	    <%=tr("Based on [link: {count||review}]", "", :count => app.rating_count, :link => ["/platform/app/reviews?app_id=#{app.id}"])%>
		</div>
	<% end %>		
</div>
