<% if apps.any? %>
  <div style="padding-bottom:20px;">
    <div class="apps_header">
      <span style="float:right; font-size:12px; font-weight:normal">
        Page 1 of 1 &nbsp;
        <%=link_to_function('<<', "", :class=>'button super blue small') %>
        <%=link_to_function('>>', "", :class=>'button super blue small') %>
      </span>
      <%=title%>
    </div>
    <div class="apps_body">
      <table style="width:100%;">
        <% apps.each_with_index do |app, index| %>
        <tr style="border-bottom:1px solid #ccc;">
          <td style="width:100px;padding-bottom:5px;padding-top:5px;">
          	<%= link_to(image_tag(app.logo_url), {:action => :view, :id => app.id}) %>
          </td>        	
          <td style="padding-bottom:5px;padding-top:5px;">
            <%= link_to(app.name, {:action => :view, :id => app.id}) %><br><br>
            <%= platform_app_rank_tag(app) %>
          </td>         
        </tr>
        <% end %>
      </table>
    </div>  
  </div>      
<% end %> 
					