<%= render :partial => "/platform/admin/common/header" %>
<%= render :partial => "tabs" %>

<%= will_filter_tag(@apps) %>
<%= will_filter_table_tag(@apps, :columns => [
  [:icon, lambda{|app| link_to(image_tag(app.icon_url, :style=>"width:15px; height:15px;"), :action => :view, :app_id => app.id)}, "width:18px;"],  
  [:id, lambda{|app| link_to(app.id, :action => :view, :app_id => app.id)}],
  [:developer_id, lambda{|app| link_to(app.developer.name, "") if app.developer}],
  :name,
  [:url, lambda{|app| link_to(app.url, app.url)}],
  [:permissions, lambda{|app| app.permissions.blank? ? "" : app.permissions.split(',').join('<br>') }],
  [:categories, lambda{|app| 
      html = []
      html << "<div id='app_categories_#{app.id}'>"  
      html << render(:partial => "categories", :locals => {:app => app})
      html << "</div>"
      html.join("\n").html_safe
  }],
  :state,
  :created_at,
  [:actions, lambda{|app|
      html = [] 
      html << link_to("view", :action => :view, :app_id => app.id)
      html << link_to("access tokens", {:action => :tokens, :wf_model=>"Platform::Oauth::OauthToken",:wf_c0=>:application_id, :wf_o0=>:is, :wf_v0_0=>app.id} )
      html << link_to_function("categorize", "assignCategories(#{app.id})")
      html.join(" | ").html_safe
  }]
]) %>

<%= render :partial => "categories_scripts" %>

<%= render :partial => "/platform/admin/common/footer" %>
