<div class="inner">
    <div class="hd">
        <div style="float:right;">
            <%=link_to_function(image_tag("/tr8n/images/close.gif"), "tr8nLightbox.hide();") %>
        </div>
        	Update Permission
    </div>
    <div class="bd">
        <% form_for(:permission, @permission, :url => {:perm_id => @permission.id}, :html => {:id => 'tr8n_form', :method => :post, :class => "tr8n", :multipart=>true}) do |f| %>
				<%=hidden_field_tag(:source_url, request.env['HTTP_REFERER'])%>
        <table class="admin_table">
					<tr>
			      <th>
							Icon:
			      </th>
			      <td>
				      <div id="icon_field" style="display:none">
				        <%= file_field_tag "new_icon", :size=>"45", :accept => 'image/png,image/gif,image/jpeg', :id => 'new_icon' %>
				      </div>
				      <div id="icon_preview"> 
					    	<span style="float:right; font-size:10px;">
					    		<%=link_to_function(tr("Change your icon", 'Client application field action'), "$('icon_preview').hide();$('icon_field').show();")%>
					    	</span>
					      <%=image_tag(@permission.icon_url, :style => "width:16px;height:16px;")%>
							</div>	
						</td>	
					</tr>
          <tr>
              <th>
                  Name:
              </th>
              <td>
                	<%= f.text_field :keyword, :style=>"width:99%;" %>
              </td>
          </tr>
          <tr>
              <th>
                  Description:
              </th>
              <td>
                	<%= f.text_area :description, :style=>"width:99%;height:100px;" %>
              </td>
          </tr>
        </table>
        <% end %>
    </div>
    <div class="ft">
        <%= render :partial => "/tr8n/admin/common/lightbox_buttons" %>
    </div>
</div>
