<div style="border-bottom: 1px solid #ccc; margin:10px; font-weight:bold;">
	Geni API List
</div>

<table style="width:100%">
	<tr>
		<td style="width:33%">
      <div class="api_list">
        <%=platform_toggler_tag("user_api")%>
        <%=link_to_function("User", "updateApi('user', 'GET', {})")%> 
				<%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user.html")%>
      </div>
      <div id="user_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("add", "updateApi('user/add', 'POST', {first_name:'John', last_name:'Smith', gender:'m', email:'john@smith.com'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/add.html")%>
            </li> 
            <li>
                <%=link_to_function("followed-documents", "updateApi('user/followed-documents', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/followed-documents.html")%>
            </li> 
            <li>
                <%=link_to_function("followed-projects", "updateApi('user/followed-projects', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/followed-projects.html")%>
            </li> 
            <li>
                <%=link_to_function("followed-surnames", "updateApi('user/followed-surnames', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/followed-surnames.html")%>
            </li> 
            <li>
                <%=link_to_function("max-family", "updateApi('user/max-family', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/max-family.html")%>
            </li> 
            <li>
                <%=link_to_function("my-albums", "updateApi('user/my-albums', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/my-albums.html")%>
            </li> 
            <li>
                <%=link_to_function("my-labels", "updateApi('user/my-labels', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/my-labels.html")%>
            </li> 
            <li>
                <%=link_to_function("uploaded-documents", "updateApi('user/uploaded-documents', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/uploaded-documents.html")%>
            </li> 
            <li>
                <%=link_to_function("uploaded-photos", "updateApi('user/uploaded-photos', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/uploaded-photos.html")%>
            </li> 
            <li>
                <%=link_to_function("uploaded-videos", "updateApi('user/uploaded-videos', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/user/uploaded-videos.html")%>
            </li> 
          </ul>
      </div>			
			
      <div class="api_list">
        <%=platform_toggler_tag("project_api")%>
        <%=link_to_function("Project", "updateApi('project-1', 'GET', {})")%> 
        <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/project.html")%>
      </div>
      <div id="project_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("collaborators", "updateApi('project-1/collaborators', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/project/collaborators.html")%>
            </li> 
            <li>
                <%=link_to_function("followers", "updateApi('project-1/followers', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/project/followers.html")%>
            </li> 
            <li>
                <%=link_to_function("profiles", "updateApi('project-1/profiles', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/project/profiles.html")%>
            </li> 
          </ul>
      </div>    
			
      <div class="api_list">
        <%=platform_toggler_tag("photo_album_api")%>
        <%=link_to_function("Photo Album", "updateApi('photo_album-1', 'GET', {})")%> 
        <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo_album.html")%>
      </div>
      <div id="photo_album_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("add", "updateApi('photo_album/add', 'POST', {name:'Photo album name'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo_album/add.html")%>
            </li> 
            <li>
                <%=link_to_function("update", "updateApi('photo_album-1/update', 'POST', {name:'New photo album name'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo_album/update.html")%>
            </li> 
            <li>
                <%=link_to_function("photos", "updateApi('photo_album-1/photos', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo_album/photos.html")%>
            </li> 
          </ul>
      </div>
			
      <div class="api_list">
        <%=platform_toggler_tag("union_api")%>
        <%=link_to_function("Union", "updateApi('union-1', 'GET', {})")%> 
        <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/union.html")%>
      </div>
      <div id="union_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("add-child", "updateApi('union/add-child', 'POST', {first_name:'John'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/union/add-child.html")%>
            </li> 
            <li>
                <%=link_to_function("add-partner", "updateApi('union/add-partner', 'POST', {first_name:'John'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/union/add-partner.html")%>
            </li> 
          </ul>
      </div>
			
			
		</td>	
		<td style="width:33%">
	    <div class="api_list">
	      <%=platform_toggler_tag("document_api")%>
	      <%=link_to_function("Document", "updateApi('document-1', 'GET', {})")%> <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document.html")%>
	    </div>
	    <div id="document_api" class="api_method_list"> 
	        <ul>
	          <li>
	              <%=link_to_function("add", "updateApi('document/add', 'POST', {title:'Document title', text:'Document text'})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/add.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("tag", "updateApi('document-1/tag/profile-1', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/tag.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("tags", "updateApi('document-1/tags', 'GET', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/tags.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("untag", "updateApi('document-1/untag/profile-1', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/untag.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("update", "updateApi('document-1/update', 'POST', {title:'New document title', text:'New document text'})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/update.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("delete", "updateApi('document-1/delete', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/document/delete.html")%>
	          </li> 
	        </ul>
	    </div>
			
	    <div class="api_list">
	      <%=platform_toggler_tag("photo_api")%>
	      <%=link_to_function("Photo", "updateApi('photo-1', 'GET', {})")%> 
				<%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo.html")%>
	    </div>
	    <div id="photo_api" class="api_method_list"> 
	        <ul>
	          <li>
	              <%=link_to_function("add", "updateApi('photo/add', 'POST', {title:'Photo title'})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/add.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("tag", "updateApi('photo-1/tag/profile-1', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/tag.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("tags", "updateApi('photo-1/tags', 'GET', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/tags.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("untag", "updateApi('photo-1/untag/profile-1', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/untag.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("update", "updateApi('photo-1/update', 'POST', {title:'New photo title'})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/update.html")%>
	          </li> 
	          <li>
	              <%=link_to_function("delete", "updateApi('photo-1/delete', 'POST', {})")%>
	              <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/photo/delete.html")%>
	          </li> 
	        </ul>
	    </div>

      <div class="api_list">
        <%=platform_toggler_tag("video_api")%>
        <%=link_to_function("Video", "updateApi('video-1', 'GET', {})")%> 
        <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video.html")%>
      </div>
      <div id="video_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("add", "updateApi('video/add', 'POST', {title:'Video title'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/add.html")%>
            </li> 
            <li>
                <%=link_to_function("tag", "updateApi('video-1/tag/profile-1', 'POST', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/tag.html")%>
            </li> 
            <li>
                <%=link_to_function("tags", "updateApi('video-1/tags', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/tags.html")%>
            </li> 
            <li>
                <%=link_to_function("untag", "updateApi('video-1/untag/profile-1', 'POST', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/untag.html")%>
            </li> 
            <li>
                <%=link_to_function("update", "updateApi('video-1/update', 'POST', {title:'New video title'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/update.html")%>
            </li> 
            <li>
                <%=link_to_function("delete", "updateApi('video-1/delete', 'POST', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/video/delete.html")%>
            </li> 
          </ul>
      </div>
					
      <div class="api_list">
        <%=platform_toggler_tag("revision_api")%>
        <%=link_to_function("Revision", "updateApi('revision-1', 'GET', {})")%> 
        <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/revision.html")%>
      </div>
      <div id="revision_api" class="api_method_list"> 
      </div>
					
    </td>
    <td style="width:33%">
      <div class="api_list">
        <%=platform_toggler_tag("profile_api")%>
        <%=link_to_function("Profile", "updateApi('profile-1', 'GET', {})")%> 
				<%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile.html")%>
      </div>
      <div id="profile_api" class="api_method_list"> 
          <ul>
            <li>
                <%=link_to_function("add-child", "updateApi('profile/add-child', 'POST', {first_name:'John', last_name:'Smith'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/add-child.html")%>
            </li> 
            <li>
                <%=link_to_function("add-mugshot", "updateApi('profile/add-mugshot', 'POST', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/add-mugshot.html")%>
            </li> 
            <li>
                <%=link_to_function("add-parent", "updateApi('profile/add-parent', 'POST', {first_name:'John', last_name:'Smith'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/add-parent.html")%>
            </li> 
            <li>
                <%=link_to_function("add-partner", "updateApi('profile/add-partner', 'POST', {first_name:'John', last_name:'Smith'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/add-partner.html")%>
            </li> 
            <li>
                <%=link_to_function("add-sibling", "updateApi('profile/add-sibling', 'POST', {first_name:'John', last_name:'Smith'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/add-sibling.html")%>
            </li> 
            <li>
                <%=link_to_function("advanced-search", "updateApi('profile/advanced-search', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/advanced-search.html")%>
            </li> 
            <li>
                <%=link_to_function("check-public", "updateApi('profile-1/check-public', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/check-public.html")%>
            </li> 
            <li>
                <%=link_to_function("compare", "updateApi('profile-1/compare/profile-2', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/compare.html")%>
            </li> 
            <li>
                <%=link_to_function("data-conflicts", "updateApi('profile/data-conflicts', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/data-conflicts.html")%>
            </li> 
            <li>
                <%=link_to_function("documents", "updateApi('profile/documents', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/documents.html")%>
            </li> 
            <li>
                <%=link_to_function("follow", "updateApi('profile/follow', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/follow.html")%>
            </li> 
            <li>
                <%=link_to_function("immediate-family", "updateApi('profile/immediate-family', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/immediate-family.html")%>
            </li> 
            <li>
                <%=link_to_function("merge", "updateApi('profile-1/merge/profile-2', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/merge.html")%>
            </li> 
            <li>
                <%=link_to_function("merges", "updateApi('profile/merges', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/merges.html")%>
            </li> 
            <li>
                <%=link_to_function("photos", "updateApi('profile/photos', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/photos.html")%>
            </li> 
            <li>
                <%=link_to_function("revisions", "updateApi('profile/revisions', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/revisions.html")%>
            </li> 
            <li>
                <%=link_to_function("search", "updateApi('profile/search', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/search.html")%>
            </li> 
            <li>
                <%=link_to_function("tree-conflicts", "updateApi('profile/tree-conflicts', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/tree-conflicts.html")%>
            </li> 
            <li>
                <%=link_to_function("tree-matches", "updateApi('profile/tree-matches', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/tree-matches.html")%>
            </li> 
            <li>
                <%=link_to_function("unfollow", "updateApi('profile-1/unfollow', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/unfollow.html")%>
            </li> 
            <li>
                <%=link_to_function("update", "updateApi('profile/update', 'POST', {first_name:'John', last_name:'Smith'})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/update.html")%>
            </li> 
            <li>
                <%=link_to_function("videos", "updateApi('profile/videos', 'GET', {})")%>
                <%=platform_documentation_tag("http://api-preview.geni.com/api-reference/profile/videos.html")%>
            </li> 
          </ul>
      </div>    
    </td>		
  </tr>
</table>
		