<div style="border-bottom: 1px solid #ccc; margin:10px; font-weight:bold;">
  <div style="float:right">
  	<%=link_to_function(tr("clear history"), "clearApiHistory()")%>
  </div>
  <%=tr("API Call History")%>
</div>

<% if @api_history.empty? %>

<div style="padding:10px;">
	<%=tr("None found")%>
</div>	

<% else %>
<div style="margin:10px;font-size:10px;overflow:auto;max-height:300px;">
	<table class="api_history">
		<tr style="">
			<th><%=tr("Path")%></th>
			<th><%=tr("Method")%></th>
			<th><%=tr("Params")%></th>
		</tr>	
	<% @api_history.reverse.each_with_index do |hc, index| %>
	  <tr class="api_row <%="selected_row" if (@api_history.size - 1 - @api_history_index) == index %>" onClick='callHistoricApi(<%=@api_history.size - 1 - index%>)'>  
		   <td>http://<%=Platform::Config.api_base_url%><%=hc["path"]%></td>
			 <td><%=hc["method"]%></td>
	     <td><%=hc["params"].to_json%></td>
	  </tr>
	<% end %>
	</table>
</div>
<% end %>
