<%=platform_scripts_tag %>

<div class="module page_title lengthy">
  <div class="inner">
    <div class="hd">
      <h1><%= tr("Welcome to #{Platform::Config.site_title} Platform!", 'Client application section title') %></h1>
			<div style="font-size:14px;color:#888;"><%=tr("Before you can use #{Platform::Config.site_title} API, you must agree to the following terms and policies:")%></div>
    </div>
  </div>
</div>

<iframe src="<%=Platform::Config.developer_agreement_path%>" style="border:1px solid #ccc;width:100%;height:500px;"></iframe>

<div style="text-align:center; padding:15px;">
  <button type="button" class="platform_btn platform_submit_btn" onClick="location='/platform/developer/registration/proceed'; return false;">
      <span><%=tr("Agree")%></span>
  </button>
  <%=tr("or")%> <%=link_to(tr("Cancel"), Platform::Config.default_url)%>
</div>
