<div class="page_ft module quiet">
  <ul class="flt_r right_horiz_list">
    <li><%=link_to(tr("Home"), "/platform/home", :class => "quiet")%></li>
    <li><%=link_to(tr("Application Directory"), "/platform/apps", :class => "quiet")%></li>
    <li><%=link_to(tr("Developer Tools"), "/platform/developer", :class => "quiet")%></li>
    <li><%=link_to(tr("Administration Tools"), "/platform/admin", :class => "quiet")%></li>
    <li><%=link_to(tr("Credits"), "/platform/home/credits", :class => "quiet")%></li>
    <li><%=link_to(tr("License"), "/platform/home/license", :class => "quiet")%></li>
  </ul>
  &copy; Copyright 2011 Michael Berkovich
</div>

<div style="padding:15px;">
	<%= tr8n_language_strip_tag %>
</div>
